.wrapper{
	padding-top:3.4rem;
	overflow: hidden;
}
.header{
	height: 3.4rem;
	width: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.header a{
	display: block;
	color: #fff;
	line-height:3.4rem;
	font-size:1rem;
	position: relative;
	padding:0 1rem;
	z-index: 99;
}
.return:before{
	content:''; 
	height:12px; 
	width:12px; 
	display:block; 
	float: left;
	border:2px solid #009b63; 
	border-right-width:0; 
	border-bottom-width:0;   
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	position: absolute;
	top:17px;
	left:1.1rem;
}
.Logo{
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 98;
	height: 100%;
	line-height: 3.4rem;
	font-size: 1.07rem;
	color: #333;
}
.Logo span{
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.Logo img{
	width:40%;
	height: auto;
	vertical-align: middle;
}
.main{
	overflow: hidden;
}
